@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
    @include ag-theme-alpine();
}

@import "~@ng-select/ng-select/themes/default.theme.css";


.red{
    color:red !important
}
.blue{
    color:#337ab7 !important
}
ul.ngx-pagination{
    padding-left: 0px !important;
}

input[type=checkbox], input[type=radio] {
    margin: 0px;
    line-height: normal;
}

@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
